.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
!*.tfvars.json.example
.vscode/
.idea/
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.bak
*.swp
*.swo
